@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?cbv3pc');
  src:  url('fonts/icomoon.eot?cbv3pc#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?cbv3pc') format('truetype'),
    url('fonts/icomoon.woff?cbv3pc') format('woff'),
    url('fonts/icomoon.svg?cbv3pc#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e900";
}
.icon-newspaper:before {
  content: "\e904";
}
.icon-eyedropper:before {
  content: "\e90a";
}
.icon-connection:before {
  content: "\e91b";
}
.icon-podcast:before {
  content: "\e91c";
}
.icon-file-empty:before {
  content: "\e924";
}
.icon-bubbles:before {
  content: "\e96c";
}
.icon-list-numbered:before {
  content: "\e9b9";
}
.icon-evil:before {
  content: "\e9ef";
}
.icon-arrow-up-left2:before {
  content: "\ea39";
}
.icon-arrow-up2:before {
  content: "\ea3a";
}
.icon-arrow-up-right2:before {
  content: "\ea3b";
}
.icon-arrow-right2:before {
  content: "\ea3c";
}
.icon-arrow-down-right2:before {
  content: "\ea3d";
}
.icon-arrow-down2:before {
  content: "\ea3e";
}
.icon-arrow-down-left2:before {
  content: "\ea3f";
}
.icon-windows8:before {
  content: "\eac2";
}
.icon-chrome:before {
  content: "\ead9";
}
